@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{

    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: poppins, sans-serif;
    font-weight: semi-bold;
}
.main-content-container{
    padding: 12.5vh 10px 0px 240px;
    background-color: #ffffff;

}
