/***********************| ALL INVENTORY STYLES ONLY HERE |***************************/

.inventory-main-container{
    width:100%;
    height:auto;
    border:1px solid;
    padding-left:230px;
   
}

/*| #1 |*/
.inventory-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inventory-add-product-button{
    padding:10px ;
    margin-right:10px;
    cursor: pointer;
}
/*| #2 |*/
.inventory-switch-content-buttons-container{
    display:flex;
    gap:10px;
    padding:10px 0;
    border:none;
    border-radius: 3%;
}

.inventory-switch-content-buttons-container button{
    padding:5px;
    border-radius: 5%;
    border:none;
    cursor:pointer;
    background-color: #e0e0e0;
}
#onhand-product-button.active{
    background-color: #99BC85;
    border:none;
}
#low-stock-product-button.active{
    background-color: #99BC85;
    border:none;
}
#out-stock-product-button.active{
    background-color: #99BC85;
    border:none;
}
#stock-in-product-button.active{
    background-color: #99BC85;
    border:none;
}
#stock-out-product-button.active{
    background-color: #B2CF9B;
    border:none;
}
#purchase-order-button.active{
    background-color: #99BC85;
    border:none;
}
/**********************| INVENTORY CONTENTS |**********************************/
/*| #3 |*/
.inventory-content-container{
    width:100%;
    border:1px solid #1b1b1b;
    height:73vh;
    padding:0 10px 10px 10px;
    display:none;
    overflow-y: auto;
    border-radius:10px ;

}

/************| INVENTORY SEARCH |****************/

.inventory-search-container {
    display: flex;
    align-items: center;
    border: 1px solid #99BC85; /* Light green border */
    border-radius: 13px; /* Rounded edges */
    overflow: hidden;
    width: 300px; /* Updated width */
    height: 31px; /* Updated height */
    background-color: #B2CF9B;
    position: relative;
    margin:5px auto;
   
    
}
.inventory-search-input[type="text"] {
    padding: 10px 15px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    color: #000000; /* Text color */
    background-color: #ffffff;

}

.inventory-search-container  input[type="text"]::placeholder {
    color: #99BC85; /* Placeholder text color */
}


.inventory-search-submit-button {
    background-color: #B2CF9B; /* Dark green button */
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.inventory-search-submit-button:hover {
    background-color: #B2CF9B;
    color: white;
}



/************| ON HAND INVENTORY |****************/
/*| #3 |*/
#onhand-inventory-content-container.active{
    display:block;
}
.onhand-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#onhand-inventory-table{
    margin-top:10px;
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
#onhand-inventory-table th {
    padding: 10px 0; 
    font-size: 0.8rem;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2; 
    border-bottom: 2px solid #99BC85;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}
#onhand-action-text{
    margin:0;
}
#onhand-delete-active-checkbox-button{
    padding: 3px 8px;
    border:1px solid red;
    cursor:pointer;
    color:red;
    border-radius:3px;
    margin:0;
    display:none;
}
#onhand-delete-active-checkbox-button:hover{
    background-color: red;
    color:white;
}
#onhand-inventory-table td{
    padding: 5px 0;
    border-bottom: 1px solid #99BC85;
    font-size: 0.8rem;
}



/*************| LOW STOCK INVENTORY |***************/
/*| #4 |*/
#low-stock-inventory-content-container.active{
    display: block;

}
.low-stock-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#low-stock-inventory-table{
    margin-top:10px;
    width:100%;
    border:1px solid;
    border-collapse: collapse;
    text-align: center;
}
#low-stock-inventory-table th{
    padding: 10px 0;
    border-bottom: 1px solid;
    font-size: 0.8rem;
}
#low-stock-action-text{
    margin:0;
}
#low-stock-delete-active-checkbox-button{
    padding: 3px 8px;
    border:1px solid red;
    cursor:pointer;
    color:red;
    border-radius:3px;
    margin:0;
    display:none;
}
#low-stock-delete-active-checkbox-button:hover{
    background-color: red;
    color:white;
}
#low-stock-inventory-table td{
    padding: 5px 0;
    border-bottom: 1px solid;
    font-size: 0.8rem;
    

}

/**************| OUT OF STOCK INVENTORY |**************/
/*| #5 |*/
#out-stock-inventory-content-container.active{
    display: block;
}
.out-stock-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#out-stock-inventory-table{
    margin-top:10px;
    width:100%;
    border:1px solid;
    border-collapse: collapse;
    text-align: center;
}
#out-stock-inventory-table th{
    padding: 10px 0;
    border-bottom: 1px solid;
    font-size: 0.8rem;
}
#out-stock-action-text{
    margin:0;
}
#out-stock-delete-active-checkbox-button{
    padding: 3px 8px;
    border:1px solid red;
    cursor:pointer;
    color:red;
    border-radius:3px;
    margin:0;
    display:none;
}
#out-stock-delete-active-checkbox-button:hover{
    background-color: red;
    color:white;
}
#out-stock-inventory-table td{
    padding: 5px 0;
    border-bottom: 1px solid;
    font-size: 0.8rem;
}
/**************| STOCK IN STOCK INVENTORY |**************/
/*| #5 |*/
#stock-in-inventory-content-container.active{
    display: block;
}
.stock-in-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:5px 0;
}
#inventory-stockin-product-selection-button{
    padding: 5px 10px;
    border:1px solid #99BC85;
    background-color: #B2CF9B;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}
#stock-in-inventory-table{
    margin-top:10px;
    width:100%;
    border:1px solid;
    border-collapse: collapse;
    text-align:center;
}
#stock-in-inventory-table th{
    padding: 10px 0;
    border-bottom: 1px solid;
}
#stock-in-action-text{
    margin:0;
}
#stock-in-delete-active-checkbox-button{
    padding: 3px 8px;
    border:1px solid red;
    cursor:pointer;
    color:red;
    border-radius:3px;
    margin:0;
    display:none;
}
#stock-in-delete-active-checkbox-button:hover{
    background-color: red;
    color:white;
}
#stock-in-inventory-table td{
    padding: 5px 0;
    border-bottom: 1px solid;
}
#stock-in-save-button {
    padding: 5px 10px;
    border: 1px solid #99BC85;
    background-color: #99BC85;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
    float: right;
    transition: margin-right 0.3s ease;  
    display:none;
}
#stock-in-save-button:hover{
    margin-right: 15px;
}
.confirm-submit-stock-in-modal-container{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width:100%;
    height:90% ;
    position:fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.233);
    top:10vh;
}
.confirm-submit-stock-in-modal{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
#confirm-submit-stock-in-button,
#cancel-submit-stock-in-button{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
    background-color: #99BC85;
    margin-top:10px;
}
#confirm-submit-stock-in-button:hover {
    background-color: #7acf4f;
}
#cancel-submit-stock-in-button:hover{
    background-color: #7acf4f;
}






/**************| PURCHASE ORDER INVENTORY |**************/
/*| #6 */
#purchase-order-inventory-content-container.active{
    display: block;
}
.purchase-order-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#purchase-order-inventory-table{
    margin-top:10px;
    width:100%;
    border:1px solid;
    border-collapse: collapse;
}
#purchase-order-inventory-table th{
    padding: 10px 0;
    border-bottom: 1px solid;
}
#purchase-order-action-text{
    margin:0;
}
#purchase-order-delete-active-checkbox-button{
    padding: 3px 8px;
    border:1px solid red;
    cursor:pointer;
    color:red;
    border-radius:3px;
    margin:0;
    display:none;
}
#purchase-order-delete-active-checkbox-button:hover{
    background-color: red;
    color:white;
}
#purchase-order-inventory-table td{
    padding: 5px 0;
    border-bottom: 1px solid;
}

/*****************************************| ADD PRODUCT |***************************************************/
/*| #7 |*/
.add-product-modal-container{
    top:0;
    width:100%;
    height:100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.363);
}
.add-product-form-container{
    background-color: #ffffff;
    padding:30px;
    border-radius: 10px;
}
#add-product-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#add-product-form h3{
    text-align: center;
}
.form-group-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.form-group-container label{
    width:130px;
    font-weight: bold;
}
.form-group-container input,
.form-group-container select{
    width:300px;
    height: 2rem;
    padding:3px;
}

#add-product-submit-button{
    height: 2rem;
    cursor: pointer;
}
#add-product-cancel-button{
    height: 2rem;
    cursor: pointer;
    width:100%;
    margin-top:10px;
}





/**********| FOR EDITING PRODUCT |***************/
.edit-product-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.edit-product-modal{
    background-color: #ffffff;
    padding:20px;
    padding-top:5px;
    border-radius:10px;
    width:50%;
}
.edit-product-modal h2{
    color:#99BC85;
}


#edit-product-exit-button{
    border-radius: 50%;
    padding:5px;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
#product-edit-exit-button:hover{
    border-color: red;
}
.edit-product-modal h2{
    text-align: center;
    margin-top:30px;
}
.edit-product-details-container{
    display: flex;
    flex-direction: column;
  
}
.edit-product-details-container label{
    color:#727272;
    font-weight: bold;
}
.edit-product-details-container div{
    display: flex;
  gap:10px;

}
input:focus {
    border: 1px solid #99BC85; 
    outline: none; 
    border-radius: 4px;
  }
.edit-category-container,
.edit-subcategory-container,
.edit-original-price-container,
.edit-selling-price-container,
.edit-quantity-container,
.edit-reorder-point-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;     
    gap:0!important;
}

.edit-category-container select,
.edit-subcategory-container select,
.edit-original-price-container input,
.edit-selling-price-container input,
.edit-quantity-container input,
.edit-reorder-point-container input{
    height:2rem;
    padding:5px;
    margin:0;
}
.edit-product-details-container label{
    margin-top:10px;
}
#edit-product-name,
#edit-product-select-supplier,
#edit-product-brand,
#edit-product-barcode{
    height:2rem;
    padding:5px;
}

#save-edit-product-button{
    margin-top:25px;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/**********| FOR DELETING product |***************/
.delete-product-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-product-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-product-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.product-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-product-yes-button,
#delete-product-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-product-yes-button{
    background-color: red;
}
#delete-product-no-button{
    background-color: #000c75;
}
#delete-product-yes-button:hover {
    font-size: 1.3rem;

}

#delete-product-no-button:hover {
    font-size: 1.3rem;

}




/***************| PRODUCT SELECTION FOR STOCK IN |***************/
.stockin-product-selection-modal-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    margin: 0;
    width:100vw;
    height:100vh;
    background-color: #0000003d;
}
.stockin-product-selection-container{
    width:70%;
    height:auto;
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    
}
.stockin-product-selection-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
#stockin-product-selection-exit-button{
   
    background-color: #bdbdbd8e;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;  
   padding: 0 7px;
    font-size: 1.5rem;
   
}
#stockin-product-selection-exit-button:hover{
    background-color: #da0000;
    color: rgb(255, 255, 255);

   
}
/*************| FOR SEARCH PRODUCT ON PRODUCT SELECTION TABLE |*********************/
.stockin-product-selection-search-container {
    display: flex;
    align-items: center;
    border: 1px solid #99BC85; /* Light green border */
    border-radius: 13px; /* Rounded edges */
    overflow: hidden;
    width: 300px; /* Updated width */
    height: 31px; /* Updated height */
    background-color: #B2CF9B;
    position: relative;
    margin:5px auto;
   
    
}
#stockin-product-selection-search-input[type="text"] {
    padding: 10px 15px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    color: #000000; /* Text color */
    background-color: #ffffff;

}

.stockin-product-selection-search-container  input[type="text"]::placeholder {
    color: #99BC85; /* Placeholder text color */
}


#stockin-product-selection-search-submit-button {
    background-color: #B2CF9B; /* Dark green button */
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#stockin-product-selection-search-submit-button:hover {
    background-color: #B2CF9B;
    color: white;
}


.stockin-product-table-container{
    width:100%;
    height:520px;
    overflow: auto;
   
}
#stockin-product-selection-table{
    border:1px solid #99BC85;
    width:100%;
    border-collapse:collapse;
    text-align: center;
}
#stockin-product-selection-table th{

    padding:8px;
    position: sticky;
    z-index:5;
    top:0;
    background-color:#E1F0DA;
}
#stockin-product-selection-table td{
    padding: 5px 0;
    border-bottom:1px solid #99bc8571;
}
#stockin-product-selection-table tr td button{
    padding:5px 10px;
    border:1px solid #99BC85;
    background-color: #B2CF9B;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}
