/***********************| ALL SALES STYLES ONLY HERE |***************************/
.pos-main-content-container{
    padding-top:12vh;
}
.pos-main-container{
    width:100%;
    /* Ensure the width is valid and does not exceed 100% */
    height: auto;
    padding:10px;
    background-color: #E1F0DA;
    
}
.pos-sub-container{
    display: flex;
    height:100%;
    gap:30px;
}
/*************| SHOPPING CART STYLE |****************/
.shopping-cart-container{
    border:1px solid #99BC85;
    width:65%;
    height: 100%;
    background-color: #ffffff;
    padding:0px 20px 20px 20px;
}
.shopping-cart-content-container{
    width:100%;
    height:98%;
    border:1px solid #99BC85;
    background-color:#E1F0DA;
    padding:20px;
}
.select-product-container{
    display: flex;
    padding:5px 0;
    align-items: center;
    justify-content: space-between;

}
#pos-select-product-button,
#pos-scan-product-button{
    padding:5px 10px;
    cursor: pointer;
    font-weight: bold;
}
.pos-shopping-cart-table-container{
    border:1px solid #99BC85;
    height:250px;
    overflow-y: auto;
}
/* Scrollbar customization */
.pos-shopping-cart-table-container::-webkit-scrollbar{
    width: 5px;
    /* Set the scrollbar width */
}

/* Track (background of the scrollbar) */
.pos-shopping-cart-table-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    /* Scrollbar track color */
}

/* Handle (scrollbar itself) */
.pos-shopping-cart-table-container::-webkit-scrollbar-thumb{
    background: #B2CF9B;
    border-radius: 10px;
}
#pos-shopping-cart-table{
    border:none;
    width:100%;
    border-collapse:collapse;
    text-align: center;
}
#pos-shopping-cart-table th{
    border:1px solid #99BC85;
    padding:8px;
    position: sticky;
    z-index:5;
    top:0;
    background-color:#E1F0DA;
}
#pos-shopping-cart-table td{
    padding:5px;
}
.pos-shopping-cart-subtotal-container{
    font-weight: bold;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    padding-right:20px;
}
.pos-info-buttons-container{
    width:100%;
    display: flex;
    flex-direction:column;
    
}
.pos-info-buttons-container div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:3px 0;
    gap:10px;
}
.pos-info-buttons-container div label{
    width:150px;
    font-weight: bold;
}
#select-payment,
#input-amount-recieved{
    width:50%;
    border:1px solid #99BC85;
    height:1.6rem;
    padding:3px;
}
#change{
    border-bottom:1px solid #99BC85;
    height:1.6rem;
    padding:3px;
    width:50%;
}
.pos-transaction-process-and-cancel-button-container{
    padding:30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pos-transaction-process-and-cancel-button-container button{
    padding:10px;
    border:1px solid #629469;
    background-color: #99BC85;
    border-radius:10px;
    font-weight: bold;
    cursor: pointer;
}
.pos-transaction-process-and-cancel-button-container button:hover{
    background-color: #71af4c;
}

/***************| RECIEPT PREVIEW STYLES |***************/
.receipt-preview-container{
    border:1px solid #99BC85;
    width:35%;
    height: auto;
    background-color: #ffffff;
    padding:0px 20px 20px 20px;
}
.receipt-preview-content-container{
    width:100%;
    border:1px solid #99BC85;
    background-color:#E1F0DA;
    padding:20px;
    padding-top: 10px !important;
}
.receipt-preview-date-container{
    display: flex;
    align-items: center;
}
#h4-store-name{
    text-align: center;
    font-size: 1.5rem;
    padding:10px 0;
}
.transaction-details-container{
    display:flex;
    flex-direction: column;
}
.transaction-details-container div{
    padding:5px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    
}
.pos-product-sales-receipt-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    width:100%;
   
}
.pos-product-total-sales-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    width:100%;
}
#pos-product-sales-receipt-table {
    border: 1px solid #99BC85;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#pos-product-sales-receipt-table td:first-child {
    text-align: left;
}

#pos-product-sales-receipt-table td:nth-child(2) {
    text-align: center;
}

#pos-product-sales-receipt-table td:nth-child(3) {
    text-align: right;
}
.customer-information-container{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.name-container{
    display: flex;
    align-items:center;
}

.contact-number-container{
    display: flex;
    align-items:center;

}
.name-container label,
.contact-number-container label{
    width:40%;
}
.name-container input,
.contact-number-container input{
    width:60%;
    height:1.5rem;
    padding:5px;
}


/***************| PRODUCT SELECTION STYLES |***************/
.pos-product-selection-modal-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    margin: 0;
    width:100vw;
    height:100vh;
    background-color: #0000003d;
}
.pos-product-selection-container{
    width:70%;
    height:auto;
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
}
.pos-product-selection-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
#pos-product-selection-exit-button{
   
    background-color: #bdbdbd8e;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;  
   padding: 0 7px;
    font-size: 1.5rem;
   
}
#pos-product-selection-exit-button:hover{
    background-color: #da0000;
    color: rgb(255, 255, 255);

   
}
/* Search */
.pos-product-selection-search-container {
    display: flex;
    align-items: center;
    border: 1px solid #99BC85; /* Light green border */
    border-radius: 13px; /* Rounded edges */
    overflow: hidden;
    width: 300px; /* Updated width */
    height: 31px; /* Updated height */
    background-color: #B2CF9B;
    position: relative;
    margin: 5px auto;

   
    
}
#search-input[type="text"] {
    padding: 10px 15px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    color: #000000; /* Text color */
    background-color: #ffffff;

}

.pos-product-selection-search-container  input[type="text"]::placeholder {
    color: #99BC85; /* Placeholder text color */
}


#search-submit-button {
    background-color: #B2CF9B; /* Dark green button */
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#search-submit-button:hover {
    background-color: #B2CF9B;
    color: white;
}

.pos-product-table-container{
    width:100%;
    height:520px;
    overflow: auto;
   
}
#pos-product-selection-table{
    border:1px solid #99BC85;
    width:100%;
    border-collapse:collapse;
    text-align: center;
}
#pos-product-selection-table th{

    padding:8px;
    position: sticky;
    z-index:5;
    top:0;
    background-color:#E1F0DA;
}
#pos-product-selection-table td{
    padding: 5px 0;
    border-bottom:1px solid #99bc8571;
}
#pos-product-selection-table tr td button{
    padding:5px 10px;
    border:1px solid #99BC85;
    background-color: #B2CF9B;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}
#pos-shopping-change{
    border:1px solid #99BC85;   
    padding:5px 3px;
    color:#61af33 !important;
    font-weight: bold;
    text-align: center;
    background-color: #E1F0DA;
    border-radius: 5px;
    width:100%;
    font-size:1.2rem;
}