/*****************************************/
.records-header-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    font-size: 30px;
    cursor:pointer;
    font-weight:bold;
}
.records-header-container:hover{
    color:#B2CF9B;
}
/*****************************************/
.records-submenu-container {
    height: 85vh;
    width: 0px;
    border-radius: 3px;
    background-color: #ffffff;
    z-index: 10;
    top: 12vh;
    position: fixed;
    overflow: hidden;
    border: none;
    transition: width 0.3s ease; /* Smooth transition effect */
}

.records-submenu-container.active {
    width: 180px;
}
#hide-records-submenu-button{
    float:right;
    cursor: pointer;
}
#hide-records-submenu-button:hover{
    color:red;
}
.records-submenu-container h4{
    text-align:center;
    padding:20px 0;
}
.records-submenu-container ul{
    list-style: none;
    padding-left:10%;
    text-align: left;
}
.records-submenu-container ul li{
    display: flex;
    align-items: center;
    gap:5px;
    padding:10px 0;
    cursor:pointer;
}

.records-submenu-container ul li:hover{
    background-color: #B2CF9B;
}
/*************************************/
.records-content-container{
    display:none;
    min-height: 82vh;
}
/*******************| CATEGORY< SUBCATEGORY< AND BRAND BOX |*********************/
#category-content-container.active{
    display: block;
}
.category-and-subcategory-container{
    width:100%;
}

.category-header-buttons-container{
    display: flex;
    gap:10px;
    padding:10px 0;
}
.category-header-buttons-container button{
    padding:5px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #e0e0e0;
    border-radius:3px;
    width:100px;
}
#category-button.active{
    background-color: #B2CF9B;
   
}
/*************| FOR CATEGORY STYLES |****************/
.category-container{
    width:100%; 
    border:none;
    padding:10px;
    border-radius:10px;
    box-shadow: 0px 0px 5px 5px rgba(32, 32, 32, 0.068); 
    display:none;
    height: 75vh;
    overflow-y: auto;
}
/* Scrollbar customization */
.category-container::-webkit-scrollbar{
    width: 5px;
    /* Set the scrollbar width */
}

/* Track (background of the scrollbar) */
.category-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    /* Scrollbar track color */
}

/* Handle (scrollbar itself) */
.category-container::-webkit-scrollbar-thumb{
    background: #B2CF9B;
    border-radius: 10px;
}
.category-container.active{
 display: block;
}
.category-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#add-category-button{
    padding:8px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #B2CF9B;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.664);
}
.category-container h3{
   position:sticky;
   z-index:5;
   top:0;
   padding:10px 0;
   background-color: #E2EDF0;
}

#category-table,
#subcategory-table{
    width:100%;
    border:1px solid #B2CF9B;
    text-align: center;   
    border-radius: 12px; 
    border-collapse: separate;
    border-spacing: 0;
    overflow:hidden; 
   
}
#category-table th,
#subcategory-table th{
    padding:10px 0;
    border-bottom:1px solid #B2CF9B;
    
   
}
#category-table td,
#subcategory-table td{
    padding:10px 0;
}
/*******************| FOR ADD CATEGORY STYLE |**********************/
.add-category-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.add-category-modal{
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    width:400px;
   
}
.add-category-modal h3{
    text-align: center;
    margin-bottom:15px;
}
#add-category-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-div{
    width:100%;
}
.add-category-label{
    font-weight: bold;
    width: 130px;
    display: inline-block;
}

.form-div input,
.form-div select{
    width:100%;
    height:1.7rem;
}
#add-category-submit-button{
    margin-top:20px;
}
#add-category-cancel-button{
    margin-top:10px;
}
#add-category-submit-button,
#add-category-cancel-button{
height:2rem;
font-weight: bold;
cursor: pointer;
width:100%;
}

/**********| FOR RDITING CATEGORY |***************/
.edit-category-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.edit-category-modal{
    background-color: #ffffff;
    padding:20px;
    padding-top:5px;
    border-radius:10px;
    width:400px;
}

#category-edit-exit-button{
    border-radius: 50%;
    padding:5px;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
#category-edit-exit-button:hover{
    border-color: red;
}
.edit-category-modal h2{
    text-align: center;
    margin-top:30px;
}
.edit-category-details-container{
    display: flex;
    flex-direction: column;
}
.edit-category-details-container label{
    margin-top:10px;
}
#edit-category-name,
#edit-category-status{
    height:2rem;
    padding:5px;
}

#save-edit-category-button{
    margin-top:20px;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}
/**********| FOR DELETING CATEGORY |***************/
.delete-category-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-category-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-category-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.category-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-category-yes-button,
#delete-category-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-category-yes-button{
    background-color: red;
}
#delete-category-no-button{
    background-color: #000c75;
}
#delete-category-yes-button:hover {
    font-size: 1.3rem;

}

#delete-category-no-button:hover {
    font-size: 1.3rem;

}





/***********| SUBCATEGORY |*************/
.subcategory-table-header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:10px;
}
#subcategory-select-category{
    padding:5px 10px;
}
#subcategory-button.active{
    background-color: #B2CF9B;
}
#add-subcategory-button{
    padding:8px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #B2CF9B;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.664);
}


/*******************| FOR ADD SUBCATEGORY STYLE |**********************/
.add-subcategory-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.add-subcategory-modal{
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    width:400px;
   
}
.add-subcategory-modal h3{
    text-align: center;
    margin-bottom:15px;
}
#add-subcategory-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-div{
    width:100%;
}
.form-div label{
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

.form-div input,
.form-div select{
    width:100%;
    height:1.7rem;
}
#add-subcategory-submit-button{
    margin-top:20px;
}
#add-subcategory-cancel-button{
    margin-top:10px;
}
#add-subcategory-submit-button,
#add-subcategory-cancel-button{
height:2rem;
font-weight: bold;
cursor: pointer;
width:100%;
}
/**********| FOR EDITING SUBCATEGORY |***************/
.edit-subcategory-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.edit-subcategory-modal{
    background-color: #ffffff;
    padding:20px;
    padding-top:5px;
    border-radius:10px;
    width:400px;
}

#subcategory-edit-exit-button{
    border-radius: 50%;
    padding:5px;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
#subcategory-edit-exit-button:hover{
    border-color: red;
}
.edit-subcategory-modal h2{
    text-align: center;
    margin-top:30px;
}
.edit-subcategory-details-container{
    display: flex;
    flex-direction: column;
}
.edit-subcategory-details-container label{
    margin-top:10px;
}
#edit-subcategory-name,
#edit-subcategory-status,
#edit-subcategory-select-category{
    height:2rem;
    padding:5px;
}

#save-edit-subcategory-button{
    margin-top:20px;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}
/**********| FOR DELETING SUBCATEGORY |***************/
.delete-subcategory-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-subcategory-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-subcategory-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.subcategory-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-subcategory-yes-button,
#delete-subcategory-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-subcategory-yes-button{
    background-color: red;
}
#delete-subcategory-no-button{
    background-color: #000c75;
}
#delete-subcategory-yes-button:hover {
    font-size: 1.3rem;

}
#delete-subcategory-no-button:hover {
    font-size: 1.3rem;

}

/********************| BRAND |***********************************/
#brand-content-container.active{
    display:block;
}
.brand-container{
    width:100%;
    padding:5px 15px;
    border-radius:10px;
    box-shadow: 0px 0px 5px 5px rgba(32, 32, 32, 0.068);
}
.brand-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 5px;
}
#add-brand-button{
    padding:8px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #B2CF9B;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.664);
}
#brand-table{
    width:100%;
    border:1px solid #B2CF9B;
    text-align: center;   
    border-radius: 12px; 
    border-collapse: separate;
    border-spacing: 0;
    overflow:hidden; 
   
}
#brand-table th{
    padding:10px 0;
    border-bottom:1px solid #B2CF9B;
    
   
}
#brand-table td{
    padding:10px 0;
}



/*******************| FOR ADD BRAND STYLE |**********************/
.add-brand-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.add-brand-modal{
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    width:400px;
   
}
.add-brand-modal h3{
    text-align: center;
    margin-bottom:15px;
}
#add-brand-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-div{
    width:100%;
}
.form-div label{
    font-weight: bold;
    width: 100%;
    display: inline-block;
}

.form-div input,
.form-div select{
    width:100%;
    height:1.7rem;
}
#add-brand-submit-button{
    margin-top:20px;
}
#add-brand-cancel-button{
    margin-top:10px;
}
#add-brand-submit-button,
#add-brand-cancel-button{
height:2rem;
font-weight: bold;
cursor: pointer;
width:100%;
}

/**********| FOR EDITING BRAND |***************/
.edit-brand-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.edit-brand-modal{
    background-color: #ffffff;
    padding:20px;
    padding-top:5px;
    border-radius:10px;
    width:400px;
}

#brand-edit-exit-button{
    border-radius: 50%;
    padding:5px;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
#brand-edit-exit-button:hover{
    border-color: red;
}
.edit-brand-modal h2{
    text-align: center;
    margin-top:30px;
}
.edit-brand-details-container{
    display: flex;
    flex-direction: column;
}
.edit-brand-details-container label{
    margin-top:10px;
}
#edit-brand-name,
#edit-brand-status,
#edit-brand-select-category{
    height:2rem;
    padding:5px;
}

#save-edit-brand-button{
    margin-top:20px;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}
/**********| FOR DELETING BRAND |***************/
.delete-brand-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-brand-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-brand-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.brand-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-brand-yes-button,
#delete-brand-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-brand-yes-button{
    background-color: red;
}
#delete-brand-no-button{
    background-color: #000c75;
}
#delete-brand-yes-button:hover {
    font-size: 1.3rem;

}
#delete-brand-no-button:hover {
    font-size: 1.3rem;

}
/*******************| PRODUCT LIST STYLE |***************************/
#products-content-container.active{
    display:block;
}
.products-list-container{
    width:100%;
    border-radius:10px;
    box-shadow: 0px 0px 5px 5px rgba(32, 32, 32, 0.068);
    padding:5px 15px;
}
.product-list-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 5px;
}
#product-list-add-product-button{
    padding:8px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #B2CF9B;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.664);
}
#product-list-table{
    width:100%;
    border:1px solid #B2CF9B;
    text-align: center;
    border-collapse: collapse;
    border-radius: 12px;
}
#product-list-table th{
    padding:15px 10px;
    border-bottom: 1px solid  #B2CF9B;
    font-size: 0.8rem;
   
}
#product-list-table td{
    padding:5px 10px;
    font-size: 0.8rem;
}
/*********| ADD PRODUCT STYLE |*******/
.delete-product-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.add-product-modal{
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    width:50%;
    max-height:90vh;
    overflow-y: auto;
   
}
.add-product-modal h3{
    text-align: center;
    font-size: 1.5rem;
}
#add-product-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#add-product-form div{
    display: flex;
    flex-direction: column;
}
#add-product-form div label{
    font-weight: bold;
    font-size: 1rem;
    color:rgb(112, 112, 112);
}
#add-product-form div input,
#add-product-form div select{
    height:1.8rem;
    padding:5px;
}

#add-product-submit-button{
    height:1.8rem;
    padding:5px;
    margin-top: 10px;
    cursor: pointer;
}
#add-product-cancel-button{
    height:1.8rem;
    padding:5px;
    margin-top: 10px;
    width:100%;
    cursor: pointer;
}

/**********| FOR DELETING PRODUCT |***************/
.delete-product-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-product-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-product-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.product-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-product-yes-button,
#delete-product-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-product-yes-button{
    background-color: red;
}
#delete-product-no-button{
    background-color: #000c75;
}
#delete-product-yes-button:hover {
    font-size: 1.3rem;

}
#delete-product-no-button:hover {
    font-size: 1.3rem;

}















/*******************| SUPPLIER INFORMATION |***************************/
#supplier-content-container.active{
    display:block;
}
.supplier-information-container{
    width:100%;
    padding:5px 15px;
    border-radius:10px;
    box-shadow: 0px 0px 5px 5px rgba(32, 32, 32, 0.068);
   
}
.supplier-info-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 5px;
}
#add-supplier-button{
    padding:8px 10px;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: #B2CF9B;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.664);
}
#supplier-information-table{
    width:100%;
    border:1px solid #B2CF9B;
    text-align: center;
    border-collapse: collapse;
    border-radius: 12px;
}
#supplier-information-table th{
    padding:15px 10px;
    border-bottom: 1px solid;
}
#supplier-information-table td{
    padding:5px 10px;
}
/***************| FOR ADD SUPPLIER STYLE |*********************/
.add-supplier-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.add-supplier-modal{
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    width:40%;
}
.add-supplier-modal h3{
    text-align: center;
}
#add-supplier-form{
    display:flex;
    flex-direction:column;
    gap:10px;
}
#add-supplier-form div{
    display:flex;
    flex-direction: column;
}
#add-supplier-form div label{
    font-weight:bold;
}
#add-supplier-form div input,
#add-supplier-form div select{
    width:100%;
    height:1.7rem;
    padding:5px;
}
#add-supplier-note{
    height:3rem !important;
}
#add-supplier-submit-button{
    width:100%;
    height:1.8rem;
    font-weight: bold;
    cursor:pointer;
}
#add-supplier-cancel-button{
    width:100%;
    height:1.8rem;
    font-weight: bold;
    cursor:pointer;
    margin-top:10px;
}
/**********| FOR EDITING SUPPLIER |***************/
.edit-supplier-modal-container{
    width:100%;
    height:100vh;
    position:fixed;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
    justify-content: center;
    top:0;
    display:none;
}
.edit-supplier-modal{
    background-color: #ffffff;
    padding:20px;
    padding-top:5px;
    border-radius:10px;
    width:400px;
}

#supplier-edit-exit-button{
    border-radius: 50%;
    padding:5px;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}
#supplier-edit-exit-button:hover{
    border-color: red;
}
.edit-supplier-modal h2{
    text-align: center;
    margin-top:30px;
}
.edit-supplier-details-container{
    display: flex;
    flex-direction: column;
}
.edit-supplier-details-container label{
    margin-top:10px;
}
.edit-supplier-details-container input,
.edit-supplier-details-container select{
    height:2rem;
    padding:5px;
}

#save-edit-supplier-button{
    margin-top:20px;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
}
/**********| FOR DELETING SUPPLIER |***************/
.delete-supplier-modal-container{
    top:0;
    width:100%;
    height: 100vh;
    position:fixed;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.301); 
    justify-content:center;
    align-items:center;
    display:none;
}
.delete-supplier-modal{
    
    padding:30px;
    background-color: #ffffff;
    border-radius:5px;  
    text-align: center;
}
#delete-supplier-name{
    color:#000a29;
    font-weight: bold;
    
   
}
.supplier-delete-yes-and-no-button{
    display: flex;
    gap:10px;
    justify-content: center;
}
#delete-supplier-yes-button,
#delete-supplier-no-button{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border:none;
    cursor: pointer;
    width: 80px;
    color:#ffffff;
}
#delete-supplier-yes-button{
    background-color: red;
}
#delete-supplier-no-button{
    background-color: #000c75;
}
#delete-supplier-yes-button:hover {
    font-size: 1.3rem;

}
#delete-supplier-no-button:hover {
    font-size: 1.3rem;

}

