/***********************| ALL RENTAL-BOXES STYLES ONLY HERE |***************************/
.rental-box-main-container{
    width:100%;
    height:auto;
    border:1px solid;
    padding-left:230px;
}

.rental-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rental-header-container h1 {
    color: #343a40; /* Dark text color */
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #99BC85; /* Light green border */
    border-radius: 13px; /* Rounded edges */
    overflow: hidden;
    width: 354px; /* Updated width */
    height: 31px; /* Updated height */
    background-color: #ffffff;
    position: relative;
    margin-left: 280px;
    
}


.search-container input[type="text"] {
    padding: 10px 15px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
    color: #000000; /* Text color */
}

.search-container input[type="text"]::placeholder {
    color: #99BC85; /* Placeholder text color */
}


.search-container button {
    background-color: #B2CF9B; /* Dark green button */
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #99BC85;
    color: white;
}

#add-rental-button{
    background-color: #B2CF9B; /* Dark green button */
    color: #000000; /* Text color */
    font-weight: bold;
    border: none;
    padding: 10px 10px; /* Updated padding */
    text-align: center; /* Align text to center */
    line-height: 10px; /* Vertically center text */
    border-radius: 10px; /* Updated border radius */
    cursor: pointer;
    margin-right: 30px;
    width: 160px; /* Updated width */
    height: 31px; /* Updated height */
    transition: background 0.3s ease;

}

#rental-add-button:hover {
    background-color: #99BC85; /* Darker green on hover */
    color: white;
}
