/*****************************************/
.report-header-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    font-size: 30px;
    cursor:pointer;
    font-weight:bold;
}
.report-header-container:hover{
    color:#B2CF9B;
}
/*****************************************/
.report-submenu-container {
    height: 85vh;
    width: 0px;
    border-radius: 3px;
    background-color: #ffffff;
    z-index: 10;
    top: 12vh;
    position: fixed;
    overflow: hidden;
    border: none;
    transition: width 0.3s ease; /* Smooth transition effect */
}

.report-submenu-container.active {
    width: 180px;
}
#hide-report-submenu-button{
    float:right;
    cursor: pointer;
}
#hide-report-submenu-button:hover{
    color:red;
}
.report-submenu-container h4{
    text-align:center;
    padding:20px 0;
}
.report-submenu-container ul{
    list-style: none;
    padding-left:10%;
    text-align: left;
}
.report-submenu-container ul li{
    display: flex;
    align-items: center;
    gap:5px;
    padding:10px 0;
    cursor:pointer;
}

.report-submenu-container ul li:hover{
    background-color: #B2CF9B;
}
/*************************************/
.report-content-container{
    display:none;
    min-height: 82vh;
}