.sidebar-container {
    border: 1px solid; /*Temporary*/
    border-color:#dfdfdf;
    width: 230px;
    height: 88vh;
    padding: 20px 0px 0px 35px;
    position: fixed;
    margin-top:12vh;
    overflow-y: auto;
    background-color: #ffffff;
    
}
.menu-item{
    list-style: none;
    color: #7D8DA1;
}
.menu-item a {
    padding: 15px 5px;
    display: flex;
    gap: 10px;
    justify-content: start;
    padding-left: 10px;
    transition: ease 0.4s;
    cursor: pointer;
    color: #7D8DA1;
    font-size:0.9rem; 
    text-decoration: none;
}
.menu-item a:hover {
    padding-left: 25px;
    color: #7380EC;
}

.menu-item a.active {
    color: #7380EC;
    border-left: 6px solid;
    border-color: #7380EC;
    background-color: #E2E3F0;
    padding-left: 25px;
}

#logout-button{
    margin-top: 180px;
}