.top-nav-container {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;  
    position:fixed;
    border:1px solid;
    border-color: #dfdfdf;
    border-top-color: #ffffff;
    background-color: hsl(0, 0%, 100%);
    z-index: 50;
}

#logo {
    height: 64px;
}

.datetime-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #99BC85;
    font-size: 19.2px;
    font-weight: semi-bold;
    letter-spacing: 0.5px;
}


/************| right Container |*************/
.right-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}

/* Admin Dropdown styling */
.admin {
    position: relative;
    display:flex;
    gap:10px;
}

.admin-dropdown p {  
    width:85px;
    color:#636363;  
}

.admin-name {
    font-weight: bold;
    color:#000000;
    display:inline-block;
}

.admin-txt {
    display:block;
    margin-left:25px;
    color:#636363;
}

#profile {
    height:30px;
    border-radius:50%;
    margin-right:5px;
}
